<div class="px-5 py-4">
  <div class="pb-3">
    <h4>Essay Correction Tool</h4>
  </div>
  <%= form_with url: get_suggestions_path do |f| %>
    <div class="row mb-4">
      <div class="col-4">
        <%= f.label :year_level, class: "form-label" %>
        <%= f.select :year_level, ["7", "8", "9", "10", "11", "12"], {selected: @year_level}, class: "form-select" %>
      </div>
      <div class="col-4">
        <%= f.label :type_of_paragraph, class: "form-label" %>
        <%= f.select :type_of_paragraph, ["Introduction", "Body Paragraph", "Conclusion"], {selected: @type_of_paragraph}, class: "form-select" %>
      </div>
      <div class="col-4">
        <%= f.label :essay_type, class: "form-label" %>
        <%= f.select :essay_type, ["Text Analysis", "Comparative", "Persuasive"], {selected: @essay_type}, class: "form-select" %>
      </div>
    </div>
    <div class="mb-4">
      <%= f.label :essay_question, class: "form-label" %>
      <%= f.text_field :essay_question, value: @essay_question, class: "form-control", required: true %>
    </div>
    <div class="mb-4">
      <%= f.label :your_paragraph, class: "form-label" %>
      <%= f.text_area :your_paragraph, value: @your_paragraph, class: "form-control", rows:"5", required: true %>
    </div>
    <div class="mb-4">
      <%= f.label :email_address, class: "form-label" %>
      <%= f.text_field :email_address, value: @email_address, class: "form-control", required: true %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary", id: "chatgpt-btn"%>
    <button class="btn btn-primary d-none" type="button" disabled id="chatgpt-loader">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button>
  <% end %>
  <div class="pt-3">
  <% if @suggestions.present? %>
    <hr/>
    <h4>Suggestions:</h4>

    <ol>
      <% @suggestions.each do |suggestion| %>
        <li><%= suggestion %></li>
      <% end %>
    </ol>
  <% end %>
  <div>
</div>
